@charset "UTF-8";

.myBody {
	background-color: #6741D1;
}

.navbar-nav > li {
	padding-left:0;
	margin:0;
}

.gradient {
	background:linear-gradient(120deg,#7f70f5,#0ea0ff);
	color:#fff
}

.container h2 {
	color:white;
	text-align:center;
	padding: 5px;
}

.colTableEmpty {
	color:white;
	text-align:center;
	font-size:0.75em;
}

.colTableTransaction {
	text-align:left;
	font-size:0.75em;
}

.portfolio-block {
	padding: 100px 100px;
}

.container.gradient.myBorder> p {
	color:white;
	text-align:left;
	font-size:2.5em;
	font-weight:300;
}
.portfolio-block form {
	padding: 50px;
	margin: auto;
	border-radius:0.25rem;
}

.portfolio-block.block-intro{
	text-align:center;
}

.portfolio-block.block-intro .avatar{
	width:150px;
	height:150px;
	background-size:cover;
	background-repeat:no-repeat;
	margin:auto;
	border-radius:100px;
	margin-bottom:30px
}

.grid {
	width:500px;
	height:150px;
	background-size:cover;
	background-repeat:no-repeat;
	margin:auto;
	margin-bottom:30px
}

.amount {
	color:white;
	font-size:3.5em;
	font-weight:300;
	padding-top:25px;
}

.portfolio-block form {
	max-width: 650px;
}

.portfolio-block.block-intro p{
	color: white;
	font-size:1.5em;
	font-weight:300;
	margin-bottom:30px;
}

.section-border {
	border-bottom: 1px solid;
	border-color: white;
}

.space-padding {
	padding: 30px 50px 30px;
}

.navbar-nav a:hover {
	opacity: 0.6;
}

.card.custom-card {
	background-color:#0ea0ff;
}

.card-header.custom-card, .card-body.custom-card, .card-text.custom-card{
	background-color:white;
}

.links, .social-icons {
	text-align:center;	
}

.links a, .social-icons a{
	color:white;
}

.links a:hover {
	color:white;
}

.profile-info {
	text-align:left;
}

.col-sm-2.profile-info.gradient.myBorder span {
	font-size:1.00em;
}

.myBorder {
	border: 1px solid white;
	padding:15px;
}
