@charset "UTF-8";

.myBody {
	background-color: #6741D1;
}

@media (min-width: 360px) {
  .container {
    max-width: 337px;
  }
}

.gradient {
	background:linear-gradient(120deg,#7f70f5,#0ea0ff);
	color:#fff
}

.container h2 {
	color:white;
}

.colTableEmpty {
	color:white;
	text-align:center;
	font-size:0.75em;
}

.colTableTransaction {
	text-align:left;
	font-size:0.75em;
}

.portfolio-block {
	padding: 3.33%;
	text-align:center;
}

.searchBar button{
	float:right;
	cursor:pointer
}

.searchBar {
	float:right;
	margin-right:1%;
}

/*.container.gradient.myBorder > p {
	color:white;
	text-align:left;
	font-size:2.5em;
	font-weight:300;
}*/

.avatar{
	width:150px;
	height:150px;
	background-size:cover;
	background-repeat:no-repeat;
	margin:auto;
	border-radius:100%;
	margin-bottom:3.33%;
	margin-top:3.33%
}

.grid {
	max-width:500px;
	width:100%;
	max-height:150px;
	height:100%;
	background-size:cover;
	background-repeat:no-repeat;
	margin:auto;
	margin-bottom:30px
}

.amount {
	color:white;
	font-size:3.5em;
	font-weight:300;
	padding-bottom:3.33%;
}

.portfolio-block form {
	text-align:left;
	max-width: 650px;
	padding: 3.33%;
	margin: auto;
	border-radius:0.25rem;
}

.portfolio-block p{
	color: white;
	font-size:1.5em;
	font-weight:300;
}

.section-border {
	border-bottom: 1px solid;
	border-color: white;
}

.space-padding {
	padding: 3.33% 5.55%;
}

.navbar-nav a:hover {
	opacity: 0.6;
}

.card.custom-card {
	background-color:#0ea0ff;
}

.card-header.custom-card, .card-body.custom-card, .card-text.custom-card{
	background-color:white;
}

.links, .social-icons {
	text-align:center;	
	color:white;
}

.links a, .social-icons a{
	color:white;
}

.links:hover {
	color:white;
	text-decoration:none;
	opacity:0.6;
}

.links a:hover {
	color:white;
}

.profile-info {
	text-align:left;
}

.col-sm-3.profile-info.gradient.myBorder h1 {
	font-size:1.75em;
}

.col-sm-3.profile-info.gradient.myBorder > p {
	margin-bottom:0px;
	font-size:1.25em;
}

.myBorder {
	border: 1px solid white;
	padding:15px;
}

.results {
	background-color:white;
	border-radius:10px;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.errorMessage {
	color:red !important;
	font-size:1.20vw !important;
	visibility:hidden;
}

.friendList {
	max-width:340px;
	width:100%;
	background-color:white;
	border-radius:10px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

.friend {
	border-top: 1px solid; 
	border-color: #d1d1d1;
	text-align:left;
	padding-left:15px;
}

button.friendButton {
	height:24px;
	width:24px;
	border-radius:10px;
	border:none;
	margin-top:1%;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

